@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    /*height: calc(100vh - 89px);*/
}


#logo {
    height: 260px;
}


#siteName {
    text-decoration: none;
    font-size: 3em;
    color: #5498de;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}


.flex-child {
    flex-grow: 1;
}


p {
    width: 80vw;
    text-align: center;
}


h1, h2, h3 {
    color: #5498DE;
    font-size: 4em;
}

h2, h3 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

a {
    text-decoration: none;
    background-color: #5498DE;
    border: #5498DE solid 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    margin: 1vw;
    height: 5vh;
    width: 15vw;
    padding: 12px 20px;
    border-radius: 4px;
    border: 2px solid #5498DE;
}

input {
    display: block;
    margin: 1vw;
    height: 5vh;
    width: 15vw;
    padding: 12px 20px;
    border-radius: 4px;
    border: 2px solid #5498DE;
}

select {
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    width: 15vw;
    height: 4vh;

}

.submit {
    height: 5vh;
    text-decoration: none;
    background-color: #5498DE;
    border: #5498DE solid 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 15vw;
}

.del {

    text-decoration: none;
    background-color: #de8587;
    border: #de1300 solid 1px;
    border-radius: 4px;
    color: rgb(255, 255, 255);


}


.form_button {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}

/*-----------------------------------------------TABLEAUX-------------------------------------------------------------*/

table {
    width: 70vw;
    border: 2px solid #0009ff;
    border-collapse: collapse;
    border-radius: 8px;
}


th, td {
    height: 80px;
    border: solid 1px #0009ff;
}

th {
    height: 40px;
    background-color: rgba(84, 152, 222, 0.46);
}


tr:nth-child(even) {
    background-color: rgba(147, 201, 222, 0.46);
}

th, td {
    text-align: center;
}

/*-------------------------------------------------LISTES-------------------------------------------------------------*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul > li {
    display: flex;
    margin: 10px;
}

ul > li > form {

    display: flex;
    flex-wrap: nowrap;

}

ul > li > form > input {
    width: 100px;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 10px;
}

/*-------------------------------------------------LISTES-------------------------------------------------------------*/













